@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans&display=swap");
.navbar {
  background-color: #ffff !important;
  max-width: 1320px;
  margin: 0 auto;
}

.navbar .navbar-brand {
  font-family: "dancing script", cursive;
  font-size: 50px;
}

.banner {
  margin: 0;
  background-color: #67697C !important;
  text-align: center;
  padding: 10px;
  color: #ffff;
  font-style: italic;
}

.banner .nav-item {
  list-style: none;
}

.banner a {
  color: white !important;
}

@media (min-width: 992px) {
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
  }
  .banner .banner ul {
    list-style: none;
  }
}

* {
  font-family: "Open Sans", sans-serif;
  color: #323031;
}

.main-content {
  max-width: 1320px;
  margin: 0 auto;
}

.container_products {
  display: -ms-grid;
  display: grid;
  grid-gap: 5rem;
  -ms-grid-rows: repeat;
      grid-template-rows: repeat;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  margin-top: 7rem;
  text-align: left;
  margin-left: 3%;
  margin-right: 3%;
}

.container_products .inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.container_products img {
  height: 300px;
}

.container-image {
  background: url(../img/product-banner.jpg);
  background-size: cover;
  height: 600px;
  position: relative;
}

.container-image .container-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.container-image .search {
  border-radius: 30px;
  border: none;
  opacity: 75%;
  padding: 13px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  text-align: center;
  font-size: 12px;
}

.hero-img {
  background-size: contain;
  width: 100%;
  opacity: 0.8;
  margin-bottom: 100px;
  position: relative;
  z-index: 0;
}

.featured-container {
  display: block;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
}

.featured-container .featured_products {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin-bottom: 50px;
  padding: 20px;
}

.featured-container .featured_products img {
  margin-top: 20px;
  height: 200px;
}

.featured-container .featured_text {
  max-width: 300px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .hero-img {
    height: 600px;
  }
  .featured-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    max-width: 1320px;
  }
  .featured-container .featured_products {
    padding: 40px;
  }
}

.container {
  margin-top: 100px;
}

.product {
  max-width: 720px;
  margin: 0 auto;
}

.product-image {
  height: 350px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

i {
  font-size: 20px;
  margin-bottom: 50px;
}

.description {
  max-width: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
  }
}

.admin-form {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  background-color: #ffff;
  padding: 13px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.admin-form .form-heading_text {
  font-size: 28px;
  margin-bottom: 50px;
}

.admin-form .form-heading_logo {
  font-size: 36px;
  font-weight: 100;
  font-family: "dancing script", cursive;
}

.admin-form input {
  width: 300px;
  margin-top: 10px;
  padding: 7px;
}

.admin-form textarea {
  width: 300px;
  margin-top: 10px;
  padding: 7px;
}

.admin-form button {
  margin-top: 20px;
  width: 300px;
}

.form-error {
  display: none;
  color: red;
  font-size: 1rem;
  margin-top: 10px;
}

.cart-container {
  margin-top: 100px;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 12px;
}

@media (min-width: 992px) {
  h1 {
    font-size: 36px;
    margin-bottom: 50px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 22px;
  }
  p {
    font-size: 14px;
  }
}

button {
  padding: 7px;
  background-color: #ffff;
  border-style: none;
  border: solid #67697C 3px;
}

.submit {
  padding: 20px;
}

.button {
  -webkit-box-shadow: inset 0 0 0 0 #67697C;
          box-shadow: inset 0 0 0 0 #67697C;
  -webkit-transition: ease-out 0.6s;
  transition: ease-out 0.6s;
  max-width: 400px;
  margin: 0 auto;
}

.button .button a, .button .read-button {
  border: solid #67697C 3px;
  display: block;
  text-align: center;
  padding: 7px;
  text-decoration: none;
  color: #323031;
  font-weight: 600;
  margin-top: 10px;
  font-size: 15px;
}

.button .button:hover {
  -webkit-box-shadow: inset 400px 0 0 0 #A97455;
          box-shadow: inset 400px 0 0 0 #A97455;
}

.button .button a:hover, .button .cta-cart:hover, .button .read-button:hover {
  border-color: #A97455;
  color: #ffff;
}

.cta-cart, .delete {
  border-style: none;
  width: 100%;
  border: solid #67697C 3px;
  background-color: white;
  padding: 7px;
  font-weight: 600;
  font-size: 15px;
}

.delete {
  color: white;
  background-color: red;
  border-color: red;
}
/*# sourceMappingURL=style.css.map */