
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans&display=swap');

.navbar-brand {
    font-family: "dancing script", cursive;
    font-size: 50px;
}



.navbar {
    background-color: white !important;
    max-width: 1320px;
    margin: 0 auto;
}





.banner {
    margin: 0;
    background-color: #67697C;
    text-align: center;
    padding: 10px;
    color: white;
    font-style: italic;
  }


