@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    
}

.main-content {
    max-width: 1320px;
    margin: 0 auto;
}




    



