

.cart-content {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin-top: 20px;

    .cart-products {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    .cart-header {

        display: flex;
        justify-content: space-around;
    }

    .cart-image {
        height: 200px;
        margin-left: 3%;
    }


    h4{
        margin-top: 20px;
        font-size: 15px;
    }
}

.continue-shopping {
    text-decoration: none;
    color: $color-font;
    font-style: italic;
    
}



