
.container {
    margin-top: 100px;
}

.product {
    max-width: 720px;
    margin: 0 auto;
    }

    .product-image {
        height: 350px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    i {
        font-size: 20px;
        margin-bottom: 50px;
    }

    .description {
        max-width: 720px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    
    }


@media (min-width: 992px)
{
    .product {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    
    }
}