h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

p {
    font-size: 12px;
}


@media (min-width: 992px) {

    h1 {
        font-size: 36px;
        margin-bottom: 50px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 22px;
    }

    p {
        font-size: 14px;
    }

}