@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans&display=swap');

$font-primary: "Open Sans", sans-serif;
$font-secondary: "dancing script", cursive;

$color-primary: #ffff;
$color-secondary: #67697C;
$color-font: #323031;
$color-icon: #A97455;
$color-footer: #545F66;
$color-base: #F7F7F7;
$color-alt: #D3B9AA;

